
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$cordefundoAzul: #010b12;
$sombraAzul: #0d2c42;
body{
    background-color: $cordefundoAzul;
}
footer{
    position: absolute;
    bottom: 10px;
    p{
        margin-left: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
    }
}
article.posicao-relogio{
    max-width: 500px;
    min-width: 370px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

div.modelo{
    width: 300px;
    height: 300px;
    position: absolute;
    border: 10px solid transparent;
    border-radius: 100%;
    box-shadow: 17px 0px 1.2px 15px $sombraAzul , inset 16px 0px 1.2px 15px $sombraAzul;
}

div.conteudo{
    width: 250px;
    height: 250px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 55.6%;
    border-radius: 100%;
    border: 1px solid transparent;
    box-shadow: inset 0px 0px 8px .2px black;
}

div.centro{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 1;

    div.point{
        position: absolute;
    }
    .point.cir{
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: #67c7ff;
        z-index: 4;
    }
    .point.sec{
        width: 3px;
        height: 195px;
        background: linear-gradient(red 50%, transparent 50%);
        z-index: 3;
    }

    .point.min{
        width: 4px;
        height: 190px;
        background: linear-gradient(white 50%, transparent 50%);
        z-index: 1;
    }

    .point.hr{
        width: 7px;
        height: 170px;
        background: linear-gradient(#73d2de 50%, transparent 50%);
        z-index: 2;
    }
    
}

div.numeros{
    width: 80%;
    height: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        position: absolute;
        font-size: 25px;
        color: white;
    }

    .um{
        top: -8px;
        right: 35px;
    }
    .dois{
        top: 32px;
        right: -6px;
    }
    .tres{
        right: -20px;
    }
    .quatro{
        bottom: 32px;
        right: -6px;
    }
    .cinco{
        bottom: -8px;
        right: 35px;
    }
    .seis{
        bottom: -25px;
    }
    .sete{
        bottom: -8px;
        left: 35px;
    }
    .oito{
        bottom: 32px;
        left: -6px;
    }
    .nove{
        left: -20px;
    }
    .dez{
        top: 32px;
        left: -6px;
    }
    .onze{
        top: -8px;
        left: 35px;
    }
    .doze{
        top: -25px;
    }

}